@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');/*  this is the paragraph font*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');/* this is the paragraph header font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');/* this is the button font */

:root{--pagraph-font: "Playfair Display", serif;}

footer{
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#nav-footer{
    display: flex;            
    justify-content: center;   
    align-items: center; 
    width: 100vw;
    padding: 0;
}

.footer-nav-btn{
    align-self: center;
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    transition-duration: .5s;
    font-family: "Bokor", system-ui;
    font-family: "DM Serif Display", serif;
    font-size: clamp(.6rem, 2vw, 1rem);
    min-width: 25%;
    height: max-content;
    padding: 1% .6%;
    border-radius: 10px;
    cursor: pointer;
    margin: 2%;
    text-shadow: 0px 1px 0px black;
    background-image: radial-gradient(darkblue, black);
}

.footer-nav-btn:hover{
    box-shadow: 1px 1px 40px blue, inset 1px 2px 20px steelblue;
    border: 1px solid white;
}
#project-btn{transform: scale(1.2);}

#display{
    position: relative;
    width: 100%;
    height: 87%;
    display: flex;
    overflow: hidden;
}

.footer-section{
    min-width: 100%;
    height: auto;
    display: flex;
    transition-duration: 1s;
    justify-content: center;
    padding: 0;
}

#projects{
    position: relative;
    display: flex;
    flex-direction: row;
}

.footer-headers{
    justify-self: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: wheat;
    font-size: 1.2rem;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    font-family: "Lora", serif;
    font-weight: bolder;
    width: max-content;
    padding: 1%;
    border: 1px solid white;
    border-radius: 10px;
    background-image: radial-gradient(blue, black);
    box-shadow: 2px 0 10px white, inset 0 0 10px black;
    text-shadow: 1px 0 0 black;
}

.project-container-words{
    width: 55%;
    overflow: auto;
}

/* setting up the scrollbar */
.project-container-words::-webkit-scrollbar-track{
    padding: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.project-container-words::-webkit-scrollbar{
width: 7px;
}
.project-container-words::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px black;
    background-color: white;
    filter: blur(2%);
    margin: 2%;
    border: 1px solid blue;
    border-radius: 10px;
}
/* Done setting the scrllbar */

#about p{
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin: 0;
    word-spacing: .2em;
    /* font-size: 1rem; */
    font-size: clamp(.6rem, 2vw, 1rem);
    font-family: var(--pagraph-font);
    padding: 2%;
    line-height: 150%;
    width: 90%;
}

ul{
    list-style-type: disc;
    justify-self: center;
    width: 90%;
}

li{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    font-size: 1.1rem;
    font-size: clamp(.6rem, 2vw, 1rem);
    font-family: var(--pagraph-font);
    color: white;
}