@media only screen and (max-width: 762px){
    main{
        height: 24vh;
    }

    #desktop-display{margin-top: -27%;}
    #project-link{top: 5%;}

    #projects{
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
    }
        
    #projects div{height: 45%;}
    .project-containers{width: 100%;}
    .project-container-words{
        display: flex;
        flex-direction: column;
        justify-items: center;
        flex-grow: 1;
        width: 100%;
    }

    .footer-headers{margin-left: 35%;}

    ul{
        justify-self: none;
        margin-left: -12%;
    }
}

@media only screen and (max-width: 758px){
    header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 6%;
    }

    #contacts{
        display: flex;
        flex-flow: row;
        width: 90%;
        height: 4vh;
        padding: 0;
        border-radius: 2px;
    }

    h6{
        width: 60%;
        height: 50%;
        margin-left: 1%;
        padding-top: .6%;
    }

    .contact-svg{
        width: 2vw;
        height: 2vh;
    }

    #title-container{
        margin-left: 0;
        order: -1;
    }

    #social-media-nav{
        margin-top: 0;
        margin-left: 30%;
        width: 40vw;
        height: 5.5vh;
    }

    #social-media-nav a {margin-top: 0;}

    #image-container{
        margin-top: 10%;
        height: 20vh;
        margin-bottom: 0;
    }

    #slide{
        width: 60px;
        height: 60px;
        left: 38%;
    }

    #slide::before{
        top: -60%;
        left: 0;
        width: calc(100% + 45px);
        height: calc(100% + 45px);
    }

    .skill-container{transform: rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(130px);}

    #project-header{margin-top: -65%;}

}